.DS_Store
__pycache__
*.egg-info
.ipynb*
TUTORIALS/TUTORIAL2/BNG_RESULTS
TUTORIALS/TUTORIAL2/DL_RESULTS
# TUTORIALS/TUTORIAL2/demo.md
TUTORIALS/TUTORIAL3/EVENTS/7D.FN07A/CORRECTED
# TUTORIALS/TUTORIAL3/demo.md
TUTORIALS/TUTORIAL4/P_DATA
# TUTORIALS/TUTORIAL4/demo.md
# TUTORIALS/TUTORIAL5/*.ipynb
# TUTORIALS/TUTORIAL6/*.ipynb
LECTURES/*.pdf